@font-face {
    font-family: "game";
    src: url(../assets/fonts/Games.ttf);
}
@font-face {
    font-family: "over";
    src: url(../assets/fonts/game_over.ttf);
}

body{
    background-image: url(../assets/images/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.container{
    margin: 0 auto;
    width: 700px;
    position: relative;
}

.tablero{
    height: 700px;
    background-color: white;
    border: 15px solid brown;
    border-radius: 10px;
    position: relative;
    width: 95%;
    top: -1000px;
    
}

.tablero__fila{
    width: 101.2%;
    height: 33.4%;
    display: flex;
}

.tablero__columna{
    width: 33%;
    height: 100.4%;
    display: flex;
    position: relative;
}

.tablero__columna-esquina{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tablero__circulo{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border: 1px solid black;
}
.tablero__circulo--red{
    background-color: rgb(202, 0, 0);
}
.tablero__circulo--blue{
    background-color: cornflowerblue;
}
.tablero__circulo--green{
    background-color: rgb(0, 165, 0);
}
.tablero__circulo--yellow{
    background-color: rgb(229, 229, 0);
}

.columna__partes{
    border: 1px solid black;
    width: 33%;
}
.columna__partes--vert{
    height: 33%;
    width: 99%;
    display: flex;
}
.tablero__columna-vert{
    flex-direction: column;
}

.triangulo {
    width: 0;
    height: 0;
    border-left: 39px solid transparent;
    border-right: 39px solid transparent;
    position: absolute;
}
.triangulo--red{
    border-top: 100px solid rgb(202, 0, 0);
    position: relative;
    left: 32.5%;
    top: 0.9px;
}
.triangulo--blue{
    border-top: 39px solid transparent;
    border-bottom: 39px solid transparent;
    border-right: 100px solid cornflowerblue;
    top: 33.5%;
    left: 38.3%;
}
.triangulo--green{
    border-top: 39px solid transparent;
    border-bottom: 39px solid transparent;
    border-left: 100px solid rgb(0, 165, 0);
    top: 33.5%;
    left: -0.9px;
}
.triangulo--yellow{
    border-bottom: 100px solid rgb(229, 229, 0);
    left: 32.5%;
    top: 57.5%;
}

.columnas__casillas{
    border: 1px solid black;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.columnas__casillas--horiz{
    width: 45px;
    height: 100%;
}

.mostrar{
    

    animation-name:movertablero;
    animation-duration:3s;
    animation-fill-mode:forwards;
}

@keyframes movertablero {
    0%{
        transform: translateY(0px) scale(0);
		opacity: 0;
    }
    100%{
        transform: translateY(1000px) scale(1);
        opacity: 1;
    }
}
.ocultar{   
    animation-name:moverbienvenida;
    animation-duration:2s;
    animation-fill-mode:forwards;
}

@keyframes moverbienvenida {
    0%{
        transform: translate(0px);
        opacity: 1;
    }
    100%{
        transform: translate(-1000px);
		opacity: 0;
    }
}


.bienvenida{
    background-color: rgba(0, 0, 139, 0.941);
    font-family: "game";
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    margin-top: 100px;
    color: white;
    position: absolute;
    
}

.bienvenida__h1{
    font-size: 3rem;
    text-align: center;
    letter-spacing: 3px;
}
.bienvenida__text{
    font-size: 1.6rem;
}
.bienvenida__button{
    width: 200px;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    color: rgba(0, 0, 139, 0.941);
    background-color: white;
    margin: 0 auto;
}
.bienvenida__h2{
    letter-spacing: 3px;
}
.reglas__text{
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}

.fichas{
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50px;
    position: absolute;
}
.mostrarfichas{
    display: block;
    animation-name:mostrarfichas;
    animation-duration:3s;
    animation-fill-mode:forwards;
}
@keyframes mostrarfichas {
    0%{
        transform: translateY(-500px) scale(0);
		opacity: 0;
    }
    100%{
        transform: translateY(0px) scale(1);
        opacity: 1;
    }
}

.juego{
    width: 250px;
    height: 100px;
    background-color: brown;
    position: relative;
    top: 320px;
    right: 130px;
    border-radius: 10px;
    display: none;
}
.juego__in{
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}

.dado{
    width: 40px;
    height: 40px;
}
.dado__img{
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
}
.dado__button{
    margin-top: 5px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}
.mostrardados{
    display: block;
    animation-name:moverdados;
    animation-duration:3s;
    animation-fill-mode:forwards;
}
@keyframes moverdados {
    0%{
        transform: translateY(-500px) scale(0);
		opacity: 0;
    }
    100%{
        transform: translateY(0px) scale(1);
        opacity: 1;
    }
}

.fichas{
    display: none;
}
.ficha1roja{
    display:block; 
    top:96px; 
    left:90px; 
    z-index:99;
}
.ficha1azul{
    display:block;
    top:96px;
    left:530px;
    z-index:99;
}
.ficha1verde{
    display:block;
    top:563px;
    left:90px;
    z-index:99;
}
.ficha1amarilla{
    display:block;
    top:563px;
    left:530px;
    z-index:99;
}

.fichaamarillaback{
    background-color: yellow;
}
.fichaazulback{
    background-color: #00F0FF;
}
.ficharojaback{
    background-color: #FE170D;
}
.fichaverdeback{
    background-color: #00FE0A;
}

.ocultar__tablero{
    animation-name:ocultartablero;
    animation-duration:3s;
    animation-fill-mode:forwards;
}

@keyframes ocultartablero {
    0%{
        transform: translateY(1000px) scale(1);
        opacity: 1;
    }
    100%{
        transform: translateY(0px) scale(0);
		opacity: 0;
    }
}

.ocultar__datos{
    animation-name:ocultardatos;
    animation-duration:3s;
    animation-fill-mode:forwards;
}
@keyframes ocultardatos {
    0%{
        transform: translateY(0px) scale(1);
        opacity: 1;
    }
    100%{
        transform: translateY(-500px) scale(0);
		opacity: 0;
    }
}

.ganador{
    background-color: rgba(0, 0, 139, 0.941);
    font-family: "game";
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    color: white;

    position: absolute;
    top: -500px;
    width: 100%;
}

.mostrar__ganador{
    display: block;
    animation-name:mostrarganador;
    animation-duration:3s;
    animation-fill-mode:forwards;
}
@keyframes mostrarganador {
    0%{
        transform: translateY(0px) scale(0);
		opacity: 0;
    }
    100%{
        transform: translateY(700px) scale(1);
        opacity: 1;
    }
}

.ganador__text{
    font-size: 2rem;
    letter-spacing: 3px;
}